<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>

<p id="notice"><%= notice %></p>

<p> <%= @tag.name %> </p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>